{% extends 'base.html' %}
111
{% block title %}Home{% endblock %}
222
{% block content %}
    <div class="movie-container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card custom-card">
                    <div class="card-body">
                        <h2 class="text-center mb-4">Personal Information</h2>
                        <p><strong>Name:</strong> {{ current_user.username or 'N/A' }}</p>
                        <p><strong>Email:</strong> {{ current_user.email or 'N/A' }}</p>

                        <!-- Optional: Add a button to allow users to edit their profile -->
                        <div class="text-center mt-4">
                            <a href="{{ url_for('main.edit_profile') }}" class="btn btn-primary">Edit Profile</a>
                        </div>
                        <div class="text-center mt-4">
                            <form method="POST" action="{{ url_for('main.delete_account') }}">
                                <button type="submit"
                                        onclick="return confirm('Are you sure you want to delete your account? This action cannot be undone.')"
                                        class="btn btn-primary">Delete Account
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
